.main-page {
  max-width: 1200px;
  margin: 50px auto;
}
.movielist-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.movielist {
  width: 840px;
  background-color: #1b1c1d;
  padding-bottom: 30px;
  border-radius: 3px;
}

.movie-box {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: auto;
  grid-gap: 50px;
  justify-content: center;
  padding: 10px;
}

.poster {
  width: 100%;
}

.category-box {
  padding: 10px;
  color: #eee;
  width: 350px;
  background-color: #1b1c1d;
  height: 70vh;
}

.btn-main {
  background-color: red;
  color: #eee;
  border: none;
  border-radius: 2px;
}

.btn-main:hover {
  background-color: rgb(182, 7, 7);
  cursor: pointer;
}

.btn-container {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
}
.btn-left {
  margin-right: 10px;
}

.btn-right {
  margin-left: 10px;
}

.category-list {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: all ease 0.2s;
}
