.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 100px;
}

.poster-container {
  width: 150px;
  margin: 10px;
}

.poster {
  max-width: 100%;
  border-radius: 20px;
}
